.sidebar {
  min-width: 14.27vw;
  box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0 0 20px;
}

.dropdown {
  margin-bottom: 20px;
}

h3 {
  margin: 0 0 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

label {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  margin-right: 5px;
}
