.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 100px;
  text-align: center;
}

.modal_content h2 {
  margin-top: 100px;
}

.modal_content label {
  display: block;
  margin-bottom: 5px;
}

.modal_content select {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
}
