// breakpoints
$desktop: 1280px;

// colors
$white: #ffffff;
$black: #000000;

$dark-blue: #001e64;
$main-blue: #003c96;
$light-blue: #b4c8ff;
$bluish: rgba(227, 234, 255, 0.4);

//Typographic
$fontFamily: google fonts, sans-serif;

@mixin text($font-size, $line-height, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

%main-title {
  @include text(44px, 130%);
}

//flex
@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//animation buttons
%hover {
  transition: 0.8s ease-in;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}

//margin
%zero-spaces {
  margin: 0;
  padding: 0;
}
