@import '../../utils/variables.scss';

.backButton {
  background-color: $white;
  border-radius: 12px;
  color: $main-blue;
  margin: 7.08vw 0 0.83px 6.04vw;
  padding: 0.83vw 1.25vw;
  border: none;
  display: inline-flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.buttonButton:hover {
  color: rgba(180, 200, 255, 1);
}

.buttonButton:focus {
  color: rgba(0, 31, 99, 1);
}

.buttonButton:disabled {
  color: rgba(191, 191, 191, 1);
}
